extensions:
    nettrine.cache: Nettrine\Cache\DI\CacheExtension
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension(%debugMode%)
    nettrine.orm: Nettrine\ORM\DI\OrmExtension

nettrine.migrations:
    directories:
        App\Migrations: %appDir%/Migrations

nettrine.dbal:
    debug:
        panel: %debugMode%
    connections:
        default:
            driver: pdo_mysql
            host: %env.DB_HOST%
            dbname: %env.DB_DATABASE%
            user: %env.DB_USER%
            password: %env.DB_PASSWORD%

nettrine.orm:
    managers:
        default:
            connection: default
            mapping:
                App:
                    directories:
                        - %appDir%/Core/Database/Entity
                    namespace: App\Core\Database\Entity